<!DOCTYPE html>
<html>

<head>
    <title>Films</title>
</head>

<body>
    <a href="{% url 'addMovie' %}">
        <button>Ajouter un film</button>
    </a>
    <p>Moyenne des notes : {{note_moy}}</p>
    <h1>Liste des films</h1>
    <ul>
        {% for film in films %}
        <li>
            <strong>{{ film.titre }}</strong> ({{ film.annee }}) - {{ film.genre }}<br>
            {% if film.image %}
            <img src="{{ film.image.url }}" alt="Cover de {{ film.titre }}" style="width: 200px;">
            {% else %}
            <p>Aucune image disponible.</p>
            {% endif %}
            
            {% if film.note %}
            <p>Note : {{ film.note }} / 5</p>
            {% else %}
            <p>Pas de notes enregistrée</p>
            {% endif %}
            
            <p>Comentaire : {{ film.commentaire }}</p>
            
            <a href="{% url 'update_movie' film.pk %}">
                <button>Modifier</button>
            </a><br><br>
        </li>
        {% empty %}
        <li>Aucun film trouvé.</li>
        {% endfor %}
    </ul>
</body>

</html>