<!DOCTYPE html>
<html>

<head>
    <title>Films</title>
</head>

<body>
    <a href="{% url 'addMovie' %}">
        <button>Ajouter un film</button>
    </a>
    <h1>Liste des films</h1>
    <ul>
        {% for film in films %}
        <li>
            <strong>{{ film.titre }}</strong> ({{ film.annee }}) - {{ film.genre }}<br>
            {% if film.image %}
            <img src="{{ film.image.url }}" alt="Cover de {{ film.titre }}" style="width: 200px;">
            {% else %}
            <p>Aucune image disponible.</p>
            {% endif %}
        </li>
        {% empty %}
        <li>Aucun film trouvé.</li>
        {% endfor %}
    </ul>
</body>

</html>